*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#root {
    width: 1920px;
    height: 1080px;
    position: relative;
    background: var(--bg);
    color: var(--fg);
    overflow: hidden;
}

.scene {
    position: absolute;
    inset: 0;
    overflow: hidden;
    background: var(--bg);
    opacity: 0;
    z-index: sibling-index();

    /* the art of seduction */
    will-change: transform, opacity;
    backface-visibility: hidden;
    transform: translateZ(0);
}

.scene:first-child {
    opacity: 1;
}